.u-text-white { color: $color-white; }

.u-margin-tb-1 { margin: 1rem 0; }

.u-margin-bottom-big { margin-bottom: 8rem !important; }
.u-margin-bottom-medium { margin-bottom: 6rem !important; }
.u-margin-bottom-small { margin-bottom: 4rem !important; }

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-medium { margin-top: 6rem !important; }
.u-margin-top-small { margin-top: 4rem !important; }
.u-margin-top-tiny { margin-top: 2rem !important; }

.u-font-light { font-weight: 300 !important;}

.u-p-1 { padding: 1rem !important; }

.u-width-half { width: 50% !important;}
.full-width { width: 100%;}

.align-absolute-center { @include align-absolute-center; }

.hidden { display: none !important; }

.lower {text-transform: capitalize !important; }

.no-side-margin {
    margin-right: 0;
    margin-left: 0;
}

.bg-grey { background-color: $color-light-grey; }

.rounded-square { border-radius: 1.5rem; }

.normal-white-space { white-space: normal !important;}

.alert-warning {font-size: 1rem;}

.u-navdrop-fit-page {left: -5rem;}
.u-dropdown-divider {border-top: 1px solid $color-primary-dark;}

.u-flex-half { flex: 0.5 40%;}

ul.navbar-nav > li.u-collapsed-navbar-nomargin {
    @media (max-width: 48em) {
        margin-left: 0 !important;
    }
}

span.ml-12 {
    margin-left: 1.2rem;
}

.hidden-tab-port {
    @media (max-width: 62.5em) { display: none }
}