@mixin align-top {
    display: flex;
    align-items: flex-start;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin align-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}


// MEDIA QUERY MANAGER
// 0 - 600px:          PHONE -phone
// 600 - 900px:        TABLET PORTRAIT -tabport
// 900 - 1200px:       TABLET LANDSCAPE -tabland
// 1200 - 1800px:      DESKTOP 
// 1200 - 1800px:      LARGE DESKTOP -bigdesktop

// 1em = 16px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };   //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };      //1200px
    }
    @if $breakpoint == bigdesktop {
        @media (min-width: 100em) { @content };   //1600px
    }
}