// COLOR SCHEME

$color-white: #fff;
$color-black: #000;
$color-light-grey: #eee;
$color-light-grey-blue: #dae0e5;
$color-dark-grey: #555;
$color-darker-grey: #222;


$color-primary-dark:#043e72;
$color-primary-light:#9DC1FF;
$color-primary-alt:#1A4053;


$color-secondary-dark:darkorange;
$color-secondary-light:#F6EED9;
$color-secondary-lighter: #ffdab959;

// $color-primary-dark:#101F2B;
// $color-primary-light:#5A7D99;
// $color-primary-alt:#D6D5D5;

// $color-secondary-dark:#FCE06E;
// $color-secondary-light:#FFF2BD;
// $color-secondary-lighter: #ffdab959;

//***************** COMPONENTS ****************\\

// NAVBAR
$navbar-margin-top: 1.8rem;
$navbar-margin-top-medium: 1.3rem;
$navbar-margin-top-small: 1.3rem;